@using AlphaStomPlusMVC.Models.ViewModels.Appointment;
@model IndexViewModel

<link href="~/Content/css/Appointment/appointment.css" rel="stylesheet" />

<h2>Patients appointment calendar</h2>

<div class="simple-row" id="buttons">
    @if (Model.Status == 1)
    {
        <button type="button" class="btn btn-secondary simple-row__item" id="change-status" onclick="changeStatus()"><i class="bi bi-folder-fill"></i> To archive</button>
    }
    else
    {
        <button type="button" class="btn btn-secondary simple-row__item" id="change-status" onclick="changeStatus()"><i class="bi bi-person-rolodex"></i> To active appointments</button>
    }
</div>

<div class="filter-row">
    <div class="filter-row__column-unit filter-row__column-unit_size_large">
        <label>Patient</label>
        <select id="patient-filter" multiple>
            @foreach (var item in Model.PatientFilter)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>

    <div class="filter-row__column-unit filter-row__column-unit_size_large">
        <label>Doctor</label>
        <select id="doctor-filter" multiple>
            @foreach (var item in Model.DoctorFilter)
            {
                <option value="@item.Id">@item.FullName</option>
            }
        </select>
    </div>

    <div class="filter-row__column-unit filter-row__column-unit_size_medium">
        <label>Service</label>
        <select id="service-filter" multiple>
            @foreach (var item in Model.ServiceFilter)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>

    <div class="filter-row__column-unit filter-row__column-unit_size_medium">
        <label>Month</label>
        <input type="month" class="form-control" id="month-filter" value="@Model.CurrentDate.ToString("yyyy-MM")" />
    </div>

    <div class="simple-row">
        <button type="button" class="btn btn-primary simple-row__item" id="apply-filters" onclick="loadCalendar()"><i class="bi bi-funnel-fill"></i> Apply</button>
        <button type="button" class="btn btn-secondary simple-row__item" id="clear-filters" onclick="clearFilters()"><i class="bi bi-funnel"></i> Clear</button>
    </div>
</div>

<div id="calendar-div"></div>

@*confirmation modal*@
<div class="modal" id="delete-confirm-modal" tabindex="-1" aria-labelledby="delete-app-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-app-label">Confirm action</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="confirm-modal-appointment-id" />
                <span id="delete-confirm-modal__warning">Canceled appointments cannot be returned</span>
                <br />
                <span id="delete-confirm-modal__question">Are you sure you want to cancel the appointment?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success delete-confirm" id="confirm-delete-app" data-bs-dismiss="modal" onclick="deleteAppointment()">Yes</button>
                <button type="button" class="btn btn-danger" data-bs-target="#view-modal" data-bs-toggle="modal" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
@*end of confirmation modal*@

@*modal for adding/editing a patient*@
<div class="modal" id="add-edit-modal" tabindex="-1" aria-labelledby="add-app-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-app-modal-label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="partial-insert"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-target="#view-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="save-app"  onclick="saveAppointment()">Save</button>
            </div>
        </div>
    </div>
</div>
@*end of modal*@

@*appointment by date view modal*@
<div class="modal fade" id="view-modal" tabindex="-1" aria-labelledby="view-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="view-modal-label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body doctor-view" id="partial-insert-view"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*end of modal*@

<script src="~/Scripts/Appointment/appointment.js"></script>

