@using AlphaStomPlusMVC.Models.ViewModels.Patient;
@model IndexViewModel

<link href="~/Content/css/Patient/patient-index.css" rel="stylesheet" />

<h2>Patients of the clinic</h2>

<div class="simple-row" id="buttons">
    @if (Model.Status == 1)
    {
        <button type="button" class="btn btn-primary simple-row__item" id="add-patient" onclick="addPatient()"><i class="bi bi-person-plus-fill"></i> Add a patient</button>
        <button type="button" class="btn btn-secondary simple-row__item" id="change-status" onclick="changeStatus()"><i class="bi bi-folder-fill"></i> To archive</button>
    }
    else
    {
        <button type="button" class="btn btn-secondary simple-row__item" id="change-status" onclick="changeStatus()"><i class="bi bi-person-rolodex"></i> To active patients</button>
    }
</div>

<div class="filter-row">
    <div class="filter-row__column-unit filter-row__column-unit_size_large">
        <label>Full name</label>
        <select id="fullname-filter" multiple>
            @foreach (var item in Model.FullNames)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>

    <div class="filter-row__column-unit filter-row__column-unit_size_medium">
        <label>Date of birth</label>
        <select id="birthdate-filter" multiple>
            @foreach (var item in Model.DatesOfBirth)
            {
                @*<option value="2022-01-31T13:15:05.2151663-05:00">@item.ToShortDateString()</option>*@
                <option value="@item.ToString("yyyy-MM-dd")">@item.ToShortDateString()</option>
            }
        </select>
    </div>

    <div class="filter-row__column-unit filter-row__column-unit_size_medium">
        <label>Sex</label>
        <select id="sex-filter" multiple>
            @foreach (var item in Model.Sexes)
            {
                <option value="@item">@(item == 1 ? "Male" : "Female")</option>
            }
        </select>
    </div>

    <div class="simple-row">
        <button type="button" class="btn btn-primary simple-row__item" id="apply-filters" onclick="loadPatientList()"><i class="bi bi-funnel-fill"></i> Apply</button>
        <button type="button" class="btn btn-secondary simple-row__item" id="clear-filters" onclick="clearFilters()"><i class="bi bi-funnel"></i> Clear</button>
    </div>
</div>


<div id="table-div"></div>

@*confirmation modal*@
<div class="modal fade" id="delete-confirm-modal" tabindex="-1" aria-labelledby="delete-patient-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-patient-label">Confirm action</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="confirm-modal-patient-id" />
                <span id="delete-confirm-modal__question"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success delete-confirm" id="delete-patient" onclick="deletePatient()">Yes</button> @*button for confirmation of deletion*@
                <button type="button" class="btn btn-success delete-confirm" id="restore-patient" onclick="restorePatient()">Yes</button> @*button for confirmation of restoring to active patients*@
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
@*end of confirmation modal*@

@*modal for adding/editing a patient*@
<div class="modal fade" id="add-edit-modal" tabindex="-1" aria-labelledby="add-patient-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-patient-modal-label"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="partial-insert"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="save-patient" onclick="savePatient()">Save</button>
            </div>
        </div>
    </div>
</div>
@*end of modal*@

@*patient view modal*@
<div class="modal fade" id="view-modal" tabindex="-1" aria-labelledby="view-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="view-modal-label">Viewing the patient's information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body patient-view" id="partial-insert-view"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*end of modal*@

<script src="~/Scripts/Patient/patient.js"></script>

